In [1]:
print("hola mundo")

hola mundo

In [2]:
import pandas as pd

serie = pd. Series([1, "hola", 3, False, ])

data = pd.read_csv("base.csv")
(data.head(5))

   CodPostal  Sexo  Edad  Color  Años_Estudio  Renta    Altura
0         11     0    23      8            12    800  1.603808
1         11     1    23      2            12   1150  1.739790
2         11     1    35      8            15    880  1.760444
3         11     0    46      2             6   3500  1.783158
4         11     1    47      8             9    150  1.690631

In [3]:
frecuencia_sexo = data["Sexo"].value_counts()
frecuencia_sexo_norm = data["Sexo"].value_counts(normalize=True)
(frecuencia_sexo)

Sexo
0    53250
1    23590
Name: count, dtype: int64

In [4]:
distribucion = pd.DataFrame({"frecuencia": frecuencia_sexo,"Porcentaje (%)": frecuencia_sexo_norm})
sexo = {0: "Masculino", 1:"Femenino"}
distribucion.rename(index=sexo, inplace=True)
(distribucion)

           frecuencia  Porcentaje (%)
Sexo
Masculino       53250        0.692998
Femenino        23590        0.307002

In [5]:
distribucion = pd.DataFrame({"frecuencia": frecuencia_sexo,"Porcentaje (%)": frecuencia_sexo_norm})
sexo = {0: "Masculino", 1:"Femenino"}
distribucion.rename(index=sexo, inplace=True)
print(distribucion)

           frecuencia  Porcentaje (%)
Sexo
Masculino       53250        0.692998
Femenino        23590        0.307002